.holder {
  background-color: rgba(0, 0, 0, 0.507);
  border-radius: 5%;
  border: none;
  text-align: center;
  padding-bottom: 2%;
  width: 15%;
  
  img {
    width: 50%;
    height: 50%;
  }

  h3 {
    margin: 0;
    margin-bottom: 3%;
  }
}